:root {
    --red-50:  #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --red-950: #450a0a;
}

body {
    /*background-color: red;*/
    max-width: 100%;
    /*padding: 2em;*/
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        ul:has(li) {
            border: 1px solid var(--red-800);
            background-color: var(--red-200);
            color: var(--red-800);
            border-radius: .5em;
            padding: .5em;

            li {
                margin-left: 1em;
            }
        }
        width: 100%;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 960px;
    grid-template-rows: 200px calc(100vh - 240px);
    max-width: 1480px;
    margin: auto;
    column-gap: 2em;

    div:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        gap: 1em;
        /*max-height: calc(100vh - 100px);*/
        overflow: auto;
    }

    div:nth-child(3) {
        display: flex;
    }
}

article {
    /*padding: 2em;*/
    background-color: #eee;
    color: #444444;
    width: 100%;
    min-height: 64em;

    & h1, h2, h3, h4, h5, p {
        color: #444444;
    }
}

code {
    margin-top: 4em;
    padding: 1em;
    display: block;
    width: 100%;
    /*min-height: 24em;*/
}

